@mixin background-image($image) {
  background: $image;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin section-100vh {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

@mixin section-size($height) {
  min-height: $height;
  position: relative;
  overflow: hidden;
}

@mixin flex($direction, $justify, $align, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}
